<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <ul>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="about/19" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
  </ul> 
</nav>

<router-outlet></router-outlet>
