/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #F3F4F4;
    padding: 3rem;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
    li {
        display: inline;
        margin-right: 30px;
        a {
            font-size: 1.5em;
        }
    }
}

a {
    color: #8C8C8C;
    text-decoraction: none;
}

a:active, a.active {
    color: #000;
}

h2 {
    color: #000;
    margin: 0;
}