<div class="color-dark">
    <div class="container">
        <div class="col">
            <p class="category">
                Lägg till en uppgift till listan
            </p>
        </div>
        <div class="col">
            <h2>
                Min lista ({{itemCount}})
            </h2>
        </div>
    </div>
    <div class="container" [@goals]="goals.length">
        <div class="col">
            <p class="sm">
                Använd detta formulär för att lägga till ett mål i din lista
            </p>
            <form action="">
                <input type="text" class="txt" name="item" placeholder="Mina mål" [(ngModel)]="goalText">
                <br><span>{{goalText}}</span>
                <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
            </form>
        </div>
        <div class="col">
            <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
               {{goal}}
            </p>
        </div>
    </div>
</div>