.container {
    display: grid;
    grid-template-column: 50% auto;
}
.col{
    padding: .4em 1em 0 3em;
}
.color-dark {
    background: #F5EBE6;
}
.color-light {
    background: #f1f1f1;
}
.category {
    color: #BE8C64;
}
input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #BD8B67;
    margin-bottom: 1em;
    cursor: pointer;
    color: #FFF;
}
.life-container {
    background: #f29008 !important;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}